pandas==2.1
numpy==1.26
matplotlib
scipy==1.13.0
seaborn==0.13.2
google-generativeai
immutabledict
pillow
dataclasses-json
termcolor
aenum
absl-py
jinja2
pyyaml
nbformat
tavily-python
ipywidgets
ipykernel